<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DasDAL.Properties.Settings.Shop_Praktikant2015ConnectionString"
            connectionString="Data Source=172.16.100.91;Initial Catalog=Shop_Praktikant2015;Persist Security Info=True;User ID=ShopPraktikant2015;Password=ShopSetup2015"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>