.create-link {
    margin-bottom: 30px;
}

.create-link-button {
    font-size: large;
    text-decoration: none;
    border-radius: 3px;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-bottom: 10px;
}

.category-admin-wrapper {
    margin-top: 10px;   
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.table-admin-wrapper {
    width: 100%;
    margin-top: 20px;
}

.category {
    border-collapse: collapse;
    table-layout: fixed;
}

.category-id-number {
    text-align: center;
}

.odd-items {
    background-color: #eeeeee;

}

.heading {
    background-color: darkgray;
    font-size: x-large;
}

.category-id-heading {
    width: 30%;
}

.category-name-heading {
    width: 20%;
    text-align: left;
}

.category-desc-heading {
    width: 50%;
    text-align: left;
}

.cat-desc {
    width: 700px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    table-layout: fixed;
}

td {
        padding-top: 5px;
    padding-bottom: 5px;
}



