body {
}


.wrapper {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    padding-top: 170px;
    margin-bottom: 22px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    border: 2px solid white;
    background-color: white;
}

.wrapper img {
    width: 100%;
    border-radius: 10px;
    padding-top: 100px;
}

.wrapper h2 {
    font-size: 2rem;
    padding-left: 200px;
    text-transform: uppercase;
    font-weight: 900;
}

.wrapper p {
    padding-left: 200px;
}

